{% style %}
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top_desktop }}px;
    margin-bottom:{{ section.settings.margin_bottom_desktop }}px;
    --desktop-item:{{ section.settings.desktop_view_item }};
  }
  @media screen and (max-width:1024px){
    #shopify-section-{{ section.id }} {
      --desktop-item:{{ section.settings.tablet_view_item }};
    }
  }
  @media screen and (max-width:767px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top_mobile }}px;
      margin-bottom:{{ section.settings.margin_bottom_mobile }}px;
      --desktop-item:{{ section.settings.mobile_view_item }};
    }
  }
{% endstyle %}
<div class="tab_featued_collection">
  <div class="row custom-product-carosual">
    <div class="tab_featued_collection_inner">
      <div class="heading_content">
        {% render 'section-heading', class: section.id %}
      </div>
      <div class="tab_featued_collection_content">
        <div class="tab_outer">
          <div class="tabs">
            {% for block in section.blocks %}
              {% if block.settings.tab_title != blank %}
                <button
                  data-tab="tab_{{ forloop.index }}"
                  class="slide-button dt-sc-btn tab secondary {% if forloop.index == 1 %} active {% endif %} "
                >
                  {{ block.settings.tab_title }}
                </button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="content">
          {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
              <div id="tab_{{ forloop.index }}" class="tab-content {% if forloop.index == 1 %} active {% endif %} ">
                <div class="dt-sc-swiper-slider swiper-container {% if section.settings.dots %} {{ section.settings.carousel_pagination_bottom_alignment }} {{ section.settings.carousel_pagination_alignment }} {% endif %} {% if section.settings.arrows %}  {{ section.settings.nav_arrow_position }} {{ section.settings.center_nav_arrow_alignment }} {% endif %}">
                  <div id="swiper-{{section.id}}-slider--{{ block.id }}-{{ forloop.index }}" class="swiper_slider_tab">
                    <ul class="swiper-wrapper {% if section.settings.enable_list_view %}product-list-style{% endif %}">
                      {% for product in block.settings.collection.products %}
                        {% include 'product-grid-item', product: product, swiperSlideClass: 'swiper-slide' %}
                      {% endfor %}
                    </ul>
                  </div>
                  {% if true %}
                    <div class="swiper-{{ section.id}}-arrows swiper-arrows">
                      <div id="swiper-{{ section.id}}-next" class="swiper-button-next dt-sc-btn"></div>
                      <div id="swiper-{{ section.id}}-prev" class="swiper-button-prev dt-sc-btn"></div>
                    </div>
                  {% endif %}
                  {% if section.settings.dots %}
                    <div id="swiper-{{ section.id}}-pagination" class="swiper-pagination"></div>
                  {% endif %}
                </div>
                {% if block.settings.btn_text != blank %}
                  <div class="view_all_btn">
                    <a href="{{ block.settings.collection.url }}" class="slide-button dt-sc-btn secondary">
                      {{- block.settings.btn_text -}}
                    </a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  function Tabs() {
    var swiper; // Declare swiper variable to access it across functions

    var bindAll = function() {
      var menuElements = document.querySelectorAll('[data-tab]');
      for (var i = 0; i < menuElements.length; i++) {
        menuElements[i].addEventListener('click', change, false);
      }
    }

    var clear = function() {
      var menuElements = document.querySelectorAll('[data-tab]');
      for (var i = 0; i < menuElements.length; i++) {
        menuElements[i].classList.remove('active');
        var id = menuElements[i].getAttribute('data-tab');
        document.getElementById(id).classList.remove('active');
      }
    }

    var change = function(e) {
      clear();
      e.target.classList.add('active');
      var id = e.currentTarget.getAttribute('data-tab');
      document.getElementById(id).classList.add('active');

      // Ensure Swiper is updated when the active tab changes
      if (swiper) {
        swiper.update();
      }
    }

    {% comment %} var initializeSwiper = function() {
      swiper = new Swiper('.swiper_slider_tab', {
        slidesPerView: 'auto',
        autoHeight: true,
        centeredSlides: false,
        spaceBetween: 25,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    } {% endcomment %}

    bindAll();
    initializeSwiper(); // Initialize Swiper
  }

  var connectTabs = new Tabs();

    document.body.addEventListener('click', function (e) {
      if (e.target.tagName === 'BUTTON' && e.target.classList.contains('tab')) {
        const tabs = document.querySelectorAll('.tab');
        const tabIndex = Array.from(tabs).indexOf(e.target);

        const contents = document.querySelectorAll('.tab-content');

        //Работа с таб
        tabs.forEach(function (tab) {
          tab.classList.remove('active');
        });

        e.target.classList.add('active');

        //Работа с контентом
        contents.forEach(function (content) {
          content.classList.remove('activeContent');
        });
        contents[tabIndex].classList.add('activeContent');
      }
    });
</script> -->
{% schema %}
{
  "name": "Tab featured collection",
  "tag": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Main Heading",
      "default": "Product Carousel"
    },
    {
      "type": "text",
      "id": "section_sub_heading",
      "label": "Sub Heading",
      "default": "Sub Heading"
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "Heading Position",
      "options": [
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-end",
          "label": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_view_item",
      "label": "Product view (Desktop)",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "tablet_view_item",
      "label": "Product view (Tablet)",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "mobile_view_item",
      "label": "Product view (Mobile)",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 2
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin top (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin bottom (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin top (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin bottom (Mobile)"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "GenZ collection"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "label": "View all button text",
          "id": "btn_text",
          "default": "View all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab featured collection"
    }
  ]
}
{% endschema %}
