{% style %}
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top_desktop }}px;
    margin-bottom:{{ section.settings.margin_bottom_desktop }}px;
  }
  @media screen and (max-width:767px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top_mobile }}px;
      margin-bottom:{{ section.settings.margin_bottom_mobile }}px;
    } 
  }
{% endstyle %}
<div class="tab_featued_collection">
  <div class="row custom-product-carosual">
    <div class="tab_featued_collection_inner">
      <div class="heading_content">
        {% render 'section-heading', class: section.id %}
      </div>
      <div class="tab_featued_collection_content">
        <div class="tabs">
          {% for block in section.blocks %}
            {% if block.settings.tab_title != blank %}
              <button class="slide-button dt-sc-btn tab secondary {% if forloop.index == 1 %} active {% endif %} ">
                {{ block.settings.tab_title }}
              </button>
            {% endif %}
          {% endfor %}
        </div>
        <div class="content">
          {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
            <div class="tab-content {% if forloop.index == 1 %} activeContent {% endif %} ">
              <div
                data-section-id="{{ section.id }}"
                data-section-type="home-product-carousel-section"
                data-item-per-view="{{ section.settings.items_per_view }}"
                data-laptop-screen-items="4"
                data-tablet-screen-items="3"
                data-small-screen-items="2"
                data-center-mode="{{ section.settings.enable_center_mode }}"
                data-autoplay="{{ section.settings.slider_autoplay }}"
                data-blocks-limit="{{ section.blocks.size }}"
                data-item-space="{{ section.settings.column_gap }}"
                data-item-row="{{ section.settings.rows }}"
              >
                <div class="dt-sc-swiper-slider swiper-container {% if section.settings.dots %} {{ section.settings.carousel_pagination_bottom_alignment }} {{ section.settings.carousel_pagination_alignment }} {% endif %} {% if section.settings.arrows %}  {{ section.settings.nav_arrow_position }} {{ section.settings.center_nav_arrow_alignment }} {% endif %}">
                  <div id="swiper-{{section.id}}-slider" class="swiper_slider_item dT_vDynamicPWrap-{{ section.id }} dT_vProdWrap">
                    <ul class="swiper-wrapper {% if section.settings.enable_list_view %}product-list-style{% endif %}">
                      {% for product in block.settings.collection.products %}
                        {% include 'product-grid-item', product: product, swiperSlideClass: 'swiper-slide' %}
                      {% else %}
                        {% for i in (1..4) %}
                          {% include 'empty-row' %}
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </div>
                  {% if section.settings.arrows %}
                    <div class="swiper-{{ section.id}}-arrows swiper-arrows">
                      <div id="swiper-{{ section.id}}-next" class="swiper-button-next dt-sc-btn"></div>
                      <div id="swiper-{{ section.id}}-prev" class="swiper-button-prev dt-sc-btn"></div>
                    </div>
                  {% endif %}
                  {% if section.settings.dots %}
                    <div id="swiper-{{ section.id}}-pagination" class="swiper-pagination"></div>
                  {% endif %}
                </div>
              </div>
            </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.body.addEventListener('click', function (e) {
    if (e.target.tagName === 'BUTTON' && e.target.classList.contains('tab')) {
      const tabs = document.querySelectorAll('.tab');
      const tabIndex = Array.from(tabs).indexOf(e.target);

      const contents = document.querySelectorAll('.tab-content');

      //Работа с таб
      tabs.forEach(function (tab) {
        tab.classList.remove('active');
      });

      e.target.classList.add('active');

      //Работа с контентом
      contents.forEach(function (content) {
        content.classList.remove('activeContent');
      });
      contents[tabIndex].classList.add('activeContent');
    }
  });
</script>
{% schema %}
{
  "name": "Tab featured collection",
  "tag": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Main Heading",
      "default": "Product Carousel"
    },
    {
      "type": "text",
      "id": "section_sub_heading",
      "label": "Sub Heading",
      "default": "Sub Heading"
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "Heading Position",
      "options": [
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-end",
          "label": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin top (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin bottom (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin top (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0,
      "label": "Margin bottom (Mobile)"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab featured collection"
    }
  ]
}
{% endschema %}
